.possibilities-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  margin-top: 10%;
  border-radius: 7px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #EAEFEF;
  color: #333446;
}

.possibilities-container h1 {
  font-size: 32px;
  color: #333446;
  margin-bottom: 20px;
  text-align: center;
}

.possibilities-container ul {
  padding-left: 20px;
  list-style: disc;
  font-size: 16px;
  line-height: 1.6;
  color: #7F8CAA;
}

.possibilities-container li {
  margin-bottom: 10px;
}
