.contact-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #EAEFEF;
  color: #333446;
}

.contact-container h1 {
  font-size: 32px;
  color: #333446;
  margin-bottom: 20px;
  text-align: center;
}

.contact-container p {
  font-size: 16px;
  color: #333446;
  margin-bottom: 20px;
  line-height: 1.6;
}

.contact-container ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.contact-container li {
  font-size: 16px;
  margin-bottom: 10px;
  color: #7F8CAA;
}

.contact-container li strong {
  color: #333446;
}
